<h1>New file</h1>
<%= form_for(@file) do |file| %>
  <%= file.label :name %>
  <%= file.text_field :name %>
  <%= file.label :content %>
  <%= file.text_area :content %>
  <%= link_to 'Cancel', files_path %>
  <%= file.submit 'Save File' %>
<% end %>
